<footer class="footer">
	<div class="grid wide">
		<div class="row">
			<div class="footer-left col col-lg-4 col-md-o-2 col-md-8 col-sm-o-1 col-sm-10">
				<img src="/assets/images/logonew.png" class="footer-left__logo" alt="PhimBox.ml" />
				<p class="footer-left__description">
					<a href="#" title="PhimBox">PhimBox</a> - Website luôn cập nhập phim nhanh nhất với chất lượng cao
					cùng nhiều bộ phim hay và hấp dẫn đang đợi các bạn thưởng thức.
				</p>
			</div>
			<div class="footer-right col col-lg-8 col-md-0 col-sm-0">
				<div class="row">
					<div class="col col-lg-3">
						<h3 class="footer-right__col-heading">Phim Box</h3>
						<ul>
							<li><a href="#" title="Phim Lẻ Mới">Phim Lẻ Mới</a></li>
							<li><a href="#" title="Phim Bộ Mới">Phim Bộ Mới</a></li>
							<li><a href="#" title="Phim Chiếu Rạp">Phim Chiếu Rạp</a></li>
							<li><a href="#" title="Phim Hoạt Hình">Phim Hoạt Hình</a></li>
						</ul>
					</div>
					<div class="col col-lg-3">
						<h3 class="footer-right__col-heading">Phim Lẻ</h3>
						<ul>
							<li><a href="#" title="Phim Lẻ Mới">Phim Hành Động</a></li>
							<li><a href="#" title="Phim Bộ Mới">Phim Võ Thuật</a></li>
							<li><a href="#" title="Phim Chiếu Rạp">Phim Viễn Tưởng</a></li>
							<li><a href="#" title="Phim Hoạt Hình">Phim Phiêu Lưu</a></li>
							<li><a href="#" title="Phim Hoạt Hình">Phim Kinh Dị</a></li>
						</ul>
					</div>
					<div class="col col-lg-3">
						<h3 class="footer-right__col-heading">Phim Bộ</h3>
						<ul>
							<li><a href="#" title="Phim Lẻ Mới">Phim Tài Liệu</a></li>
							<li><a href="#" title="Phim Bộ Mới">Phim Hàn Quốc</a></li>
							<li><a href="#" title="Phim Chiếu Rạp">Phim Tình Cảm</a></li>
						</ul>
					</div>
					<div class="col col-lg-3">
						<h3 class="footer-right__col-heading">Liên Hệ</h3>
						<p style="font: 1.4rem 'Open Sans'; color: #717171; font-weight: 600">
							Phone: 0123.456.789
							<br />
							Email: quocthinh.phim@gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>
			Copyright <i class="iconify" data-icon="fa6-regular:copyright"></i> 2022 - Phiên Bản Thử Nghiệm. Code by:
			quocthinh
		</p>
	</div>
</footer>
