<div class="xpo-mini-info" style="display: none">
	<div class="xpo-mini-info__heading">
		<span class="xpo-mini-info__name"></span>
		<span class="xpo-mini-info__original-name"></span>
	</div>
	<div class="xpo-mini-info__body">
		<div class="xpo-mini-info__info">
			<span class="xpo-mini-info__imdb"><i class="iconify icon-imdb" data-icon="la:imdb"></i>''</span>
			<span class="xpo-mini-info__duration"
				><i class="iconify icon-access-time" data-icon="ic:round-access-time"></i>''</span
			>
			<span class="xpo-mini-info__year"><i class="iconify icon-calender" data-icon="uil:calender"></i>''</span>
		</div>
		<div class="xpo-mini-info__description">
			<p class="xpo-mini-info__short-description">''</p>
			<p class="xpo-mini-info__countries">
				<i class="iconify icon-country" data-icon="ri:global-line"></i><span>Quốc Gia:</span>''
			</p>
			<p class="xpo-mini-info__categories">
				<i class="iconify icon-category" data-icon="ph:film-slate"></i><span>Thể Loại:</span>''
			</p>
			<p class="xpo-mini-info__actors">
				<i class="iconify icon-actor" data-icon="fa-solid:user-friends"></i><span>Diễn Viên:</span>''
			</p>
		</div>
	</div>
</div>
