<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="/admin/assets/images/logo-icon.png" class="logo-icon" alt="logo icon" />
    </div>
    <div>
      <h4 class="logo-text">Dashtrans</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i></div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="/admin/dashboard">
        <div class="parent-icon"><i class="bx bx-home-circle"></i></div>
        <div class="menu-title">Dashboard</div>
      </a>
      </li>
      <li>
        <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-film"></i></div>
        <div class="menu-title">Films</div>
      </a>
      <ul>
        <li>
          <a href="javascript:;" class="has-arrow"><i class="bx bx-right-arrow-alt"></i>Add Films</a>
          <ul>
            <li>
              <a href="/admin/films/add"><i class="bx bx-right-arrow-alt"></i>Add</a>
            </li>
            <li>
              <a href="/admin/films/grab"><i class="bx bx-right-arrow-alt"></i>Grab</a>
            </li>
          </ul>
          </li>
        <li>
          <a href="/admin/films"><i class="bx bx-right-arrow-alt"></i>All Films</a>
        </li>
        <li>
          <a href="/admin/episodes/errors"><i class="bx bx-right-arrow-alt"></i>Episodes Error</a>
        </li>
      </ul>
      </li>
      <li>
        <a href="/admin/categories">
        <div class="parent-icon"><i class="bx bx-spreadsheet"></i></div>
        <div class="menu-title">Categories</div>
      </a>
      </li>
      <li>
        <a href="/admin/countries">
        <div class="parent-icon"><i class="bx bx-globe"></i></div>
        <div class="menu-title">Countries</div>
      </a>
      </li>
      <li>
        <a href="/admin/users">
        <div class="parent-icon"><i class="lni lni-users"></i></div>
        <div class="menu-title">Users</div>
      </a>
      </li>
      <li>
        <a href="/admin/follows">
        <div class="parent-icon"><i class="bx bx-rss"></i></div>
        <div class="menu-title">Follows</div>
      </a>
      </li>
      <li>
        <a href="/admin/configuration">
        <div class="parent-icon"><i class="bx bx-cog"></i></div>
        <div class="menu-title">Configuration</div>
      </a>
      </li>
      </ul>
      <!--end navigation-->
</div>