<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xem phim</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Charis+SIL&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/css/star-rating-svg.css">
  <link rel="stylesheet" href="/assets/css/grid.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.custom.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
  <div class="app">
    <!-- Heading -->
    <%- include('./partials/header') %>
    <!--  Container -->
    <div class="container grid wide">
      <div class="row sm-gutter">
        <!-- Breadcurmb -->
        <div class="breadcrumb-wrap col col-lg-12 col-md-12 col-sm-12">
          <ul class="breadcrumb">
            <li><a href="#"><i class="iconify" data-icon="dashicons:admin-home"></i>Trang Chủ</a></li>
            <li><a href="#">Phim lẻ</a></li>
            <li class="active"><a href="#">Minions cắt cỏ</a></li>
          </ul>
        </div>
        <main class="main-content col col-lg-9 col-md-9 col-sm-12">
          <section class="xpo-film-media">
            <div class="xpo-film-media__player">
              <div class="htmlnote" style="text-align:center;">Dùng <span>Chrome</span> để xem phim tốt hơn - Nếu không xem được thì chọn <span>server</span> khác hoặc là đợi một tý rồi load lại là OK ngay!</div>
              <div class="xpo-film-media__player-container">
                <div class="xpo-player-loader hidden"></div>
                <div class="xpo-player-area">
                  <div class="embed-container">
                    <iframe class="embed-item" src="https://kd.hd-bophim.com/share/348a38cd25abeab0e440f37510e9b1fa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="xpo-film-media__user-action htmlwrap row">
              <div class="xpo-social-plugin col col-lg-4 col-md-4 col-sm-0">
                <span class="rating">
                  <span id="film-rating"></span><span class="label label-info rating-label"></span>
                </span>
              </div>
              <div class="xpo-btns-media-action col col-lg-8 col-md-8 col-sm-12">
                <button class="btn btn-media-action"><i class="iconify" data-icon="uiw:d-arrow-left"></i> Tập trước</button>
                <button class="btn btn-media-action">Tập tiếp theo <i class="iconify" data-icon="uiw:d-arrow-right"></i></button>
                <button class="btn btn-media-action sm-hidden" id="expand-player" data-status="expanded"><i class="iconify" data-icon="fa:expand" style="font-size:1rem;transform:translateY(0);"></i>Mở rộng</button>
                <button class="btn btn-media-action" id="toggle-light"><i class="iconify" data-icon="fa:adjust"></i> Tắt đèn</button>
                <button class="btn btn-media-action"><i class="iconify" data-icon="akar-icons:triangle-alert-fill"></i> Báo lỗi</button>
                <button class="btn btn-media-action"><i class="iconify" data-icon="fa-solid:eye"></i> 23 Lượt xem</button>
                <button class="btn btn-media-action" onclick="showShareSocial()"><i class="iconify" data-icon="fa6-solid:share"></i> Chia sẻ</button>
                <!-- Share social Modal Popup -->
                <div id="share-popup" class="modal modal-md hidden">
                  <div class="modal-overlay"></div>
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Share</h5>
                        <button class="modal-close-btn">
                          <span>&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p class="share-title">Share this link via:</p>
                        <div class="icons">
                          <a href="#" class="icons__item">
                            <i class="iconify" data-icon="fa6-brands:facebook-f"></i>
                          </a>
                          <a href="#" class="icons__item">
                            <i class="iconify" data-icon="fa6-brands:twitter"></i>
                          </a>
                          <a href="#" class="icons__item">
                            <i class="iconify" data-icon="fa6-brands:instagram"></i>
                          </a>
                          <a href="#" class="icons__item">
                            <i class="iconify" data-icon="fa6-brands:whatsapp"></i>
                          </a>
                          <a href="#" class="icons__item">
                            <i class="iconify" data-icon="fa-brands:telegram-plane"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="xpo-film-media__servers-episodes">
              <div class="xpo-film-servers htmlwrap">
                <ul class="list-server">
                  <p><i class="iconify" data-icon="fa-solid:server"></i> Server: </p>
                  <li class="list-server__item active"><button class="btn">Server#1</button></li>
                  <li class="list-server__item"><button class="btn">Server#2</button></li>
                  <li class="list-server__item"><button class="btn">Server#3</button></li>
                </ul>
              </div>
              <div class="xpo-film-episodes htmlwrap">
                <div class="nav-tabs-component">
                  <ul class="nav-tabs">
                    <li class="nav-tabs__item active"><span data-tab-select="#tab1"><i class="iconify" data-icon="fluent:server-play-20-filled"></i> Vietsub#1</span></li>
                    <li class="nav-tabs__item"><span data-tab-select="#tab2"><i class="iconify" data-icon="fluent:server-play-20-filled"></i> Thuyết Minh#1</span></li>
                    <li class="nav-tabs__item"><span data-tab-select="#tab3"><i class="iconify" data-icon="fluent:server-play-20-filled"></i> Vietsub#2</span></li>
                    <li class="nav-tabs__item"><span data-tab-select="#tab4"><i class="iconify" data-icon="fluent:server-play-20-filled"></i> Thuyết Minh#2</span></li>
                  </ul>
                  <div class="tabs-content">
                    <div class="tabs-content__item active" data-tab-target="#tab1">
                      <ul class="xpo-list-episodes">
                        <li class="xpo-list-episodes__episode-item active"><a class="btn" href="#"><span>1</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>2</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>3</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>4</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>5</span></a></li>
                      </ul>
                    </div>
                    <div class="tabs-content__item" data-tab-target="#tab2">
                      <ul class="xpo-list-episodes">
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>Full 1</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>Full 2</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>Full 3</span></a></li>
                      </ul>
                    </div>
                    <div class="tabs-content__item" data-tab-target="#tab3">
                      <ul class="xpo-list-episodes">
                        <li class="xpo-list-episodes__episode-item active"><a class="btn" href="#"><span>1</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>2</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>3</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>4</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>5</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>6</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>7</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>8</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>9</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>10</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>11</span></a></li>
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>12-End</span></a></li>
                      </ul>
                    </div>
                    <div class="tabs-content__item" data-tab-target="#tab4">
                      <ul class="xpo-list-episodes">
                        <li class="xpo-list-episodes__episode-item"><a class="btn" href="#"><span>Full HD</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="lightout" class="hidden"></div>
          </section>
          <section class="xpo-film-tags xpo-violet">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="fa-solid:hashtag"></i></i> Từ khóa</span><i class="skew-left"></i>
              </h2>
            </div>
            <div class="htmlwrap">
              <ul class="film-tags-list">
                <li class="film-tags-item">Minions: Sự Trỗi Dậy của Gru</li>
                <li class="film-tags-item">Minions: The Rise Of Gru</li>
              </ul>
            </div>
          </section>
          <section class="xpo-film-comment xpo-yellow">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="fluent:comment-edit-20-filled"></i></i> Bình luận</span><i class="skew-left"></i>
              </h2>
            </div>
            <div class="xpo-film-comment__iframe htmlwrap">
              <iframe src="https://www.powr.io/comments/u/6be94545_1659623763#platform=iframe" style="width:100%;" height="270px" frameborder="0"></iframe>
            </div>
          </section>
          <section class="xpo-film-related xpo-orange">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="ri:movie-2-fill"></i></i> Phim Liên Quan</span><i class="skew-left"></i>
              </h2>
            </div>
            <div id="xpo-film-related__list" class="htmlwrap owl-carousel owl-theme xpo-box">
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Liên Minh Công Lý: Phiên bản của Zack Snyder - Zack Snyder’s Justice League (2021)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1616846455/phimbox_images/Poster-lien-minh-cong-ly-phien-ban-cua-zack-snyder.jpg" alt="Liên Minh Công Lý: Phiên bản của Zack Snyder - Zack Snyder’s Justice League (2021)">
                    <span class="xpo-status">HD</span>
                    <span class="xpo-year">2021</span>
                    <span class="xpo-language">Vietsub</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Liên Minh Công Lý: Phiên bản của Zack Snyder - Zack Snyder’s Justice League (2021)">Liên Minh Công Lý: Phiên bản của Zack Snyder - Zack Snyder’s Justice League (2021)</a>
                      </h3>
                      <p class="xpo-original-name">Zack Snyder’s Justice League</p>
                    </div>
                  </div>
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Zack Snyder’s Justice League (2021)" data-original-name="Zack Snyder’s Justice League" data-imdb="8.4" data-duration="242 phút" data-year="2021" data-short-description="Bản Justice League dài 4 tiếng của đạo diễn Zack Snyder là bản dựng mang đúng phong cách Snyder - một trong những nhà sáng tạo quan trọng của vũ trụ siêu anh hùng DC với tầm nhìn xa và giọng kể riêng" data-countries="Mỹ," data-categories="Hình Sự, Hài Hước, Tâm Lý," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                </div>
              </div>
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Wanda và Vision (Phần 1) - Wanda Vision (Season 1) (2021)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612932327/phimbox_images/Poster-wanda-va-vision-phan-1.jpg" alt="Wanda và Vision (Phần 1) - Wanda Vision (Season 1) (2021)">
                    <span class="xpo-status">9/9</span>
                    <span class="xpo-year">1999</span>
                    <span class="xpo-language">Vietsub + Thuyết Minh</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Wanda và Vision (Phần 1) - Wanda Vision (Season 1) (2021)">Wanda và Vision (Phần 1)</a>
                      </h3>
                      <p class="xpo-original-name">Wanda Vision (Season 1)</p>
                    </div>
                  </div>
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Wanda và Vision (Phần 1)" data-original-name="Wanda Vision (Season 1)" data-imdb="8.4" data-duration="32 phút/tập" data-year="2021" data-short-description="Bộ phim pha trộn giữa phong cách phim sitcom cổ điển với MCU. Wanda Maximoff và Vision - hai con người với năng lực siêu nhiên đang có cuộc sống vô cùng lí tưởng ở vùng ngoại ô, lại bắt đầu nảy sinh những nghi ngờ về đối phương" data-countries="Mỹ," data-categories="Hình Sự, Hài Hước, Tâm Lý," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                </div>
              </div>
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <span class="xpo-status">HD</span>
                    <span class="xpo-year">1999</span>
                    <span class="xpo-language">Vietsub + Thuyết Minh</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                      </h3>
                      <p class="xpo-original-name">Toy Story 2</p>
                    </div>

                    <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <span class="xpo-status">HD</span>
                    <span class="xpo-year">1999</span>
                    <span class="xpo-language">Vietsub + Thuyết Minh</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                      </h3>
                      <p class="xpo-original-name">Toy Story 2</p>
                    </div>
                  </div>
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                </div>
              </div>
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <span class="xpo-status">HD</span>
                    <span class="xpo-year">1999</span>
                    <span class="xpo-language">Vietsub + Thuyết Minh</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                      </h3>
                      <p class="xpo-original-name">Toy Story 2</p>
                    </div>
                  </div>
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                </div>
              </div>
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <span class="xpo-status">HD</span>
                    <span class="xpo-year">1999</span>
                    <span class="xpo-language">Vietsub + Thuyết Minh</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                      </h3>
                      <p class="xpo-original-name">Toy Story 2</p>
                    </div>
                  </div>
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                </div>
              </div>
              <div class="item">
                <div class="xpo-item">
                  <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                    <span class="xpo-status">HD</span>
                    <span class="xpo-year">1999</span>
                    <span class="xpo-language">Vietsub + Thuyết Minh</span>
                    <div class="xpo-icon-overlay"></div>
                  </a>
                  <div class="xpo-content">
                    <div class="xpo-content__name">
                      <h3 class="xpo-vn-name">
                        <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                      </h3>
                      <p class="xpo-original-name">Toy Story 2</p>
                    </div>
                  </div>
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <aside class="sidebar col col-lg-3 col-md-3 col-sm-12" style="margin-top:-24px;">
          <div class="sidebar-widget xpo-violet sm-hidden">
            <div class="sidebar-widget__section-bar section-bar">
              <h2 class="section-bar__title">
                <span><i class="iconify section-bar__icon" data-icon="ri:movie-line"></i> Phim Sắp Chiếu</span>
                <i class="skew-left"></i>
                <i class="skew-left"></i>
              </h2>
            </div>
            <div class="tab-container">
              <div id="xpo-sidebar-trailer" class="owl-carousel owl-theme xpo-box">
                <div class="item">
                  <div class="xpo-item">
                    <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                      <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                      <span class="xpo-status">HD</span>
                      <span class="xpo-year">1999</span>
                      <span class="xpo-language">Vietsub + Thuyết Minh</span>
                      <div class="xpo-icon-overlay"></div>
                    </a>
                    <div class="xpo-content">
                      <div class="xpo-content__name">
                        <h3 class="xpo-vn-name">
                          <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                        </h3>
                        <p class="xpo-original-name">Toy Story 2</p>
                      </div>
                    </div>
                    <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                  <div class="xpo-item">
                    <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                      <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                      <span class="xpo-status">HD</span>
                      <span class="xpo-year">1999</span>
                      <span class="xpo-language">Vietsub + Thuyết Minh</span>
                      <div class="xpo-icon-overlay"></div>
                    </a>
                    <div class="xpo-content">
                      <div class="xpo-content__name">
                        <h3 class="xpo-vn-name">
                          <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                        </h3>
                        <p class="xpo-original-name">Toy Story 2</p>
                      </div>
                    </div>
                    <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                  <div class="xpo-item">
                    <a class="xpo-thumb" href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                      <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612969196/phimbox_images/Poster-cau-chuyen-do-choi-2.jpg" alt="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">
                      <span class="xpo-status">HD</span>
                      <span class="xpo-year">1999</span>
                      <span class="xpo-language">Vietsub + Thuyết Minh</span>
                      <div class="xpo-icon-overlay"></div>
                    </a>
                    <div class="xpo-content">
                      <div class="xpo-content__name">
                        <h3 class="xpo-vn-name">
                          <a href="#" title="Câu Chuyện Đồ Chơi 2 - Toy Story 2 (1999)">Câu Chuyện Đồ Chơi 2</a>
                        </h3>
                        <p class="xpo-original-name">Toy Story 2</p>
                      </div>
                    </div>
                    <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
                  </div>
                </div>
              </div>
              <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
            </div>
          </div>
          <div class="sidebar-widget xpo-blue">
            <div class="sidebar-widget__section-bar section-bar">
              <h2 class="section-bar__title">
                <span><i class="iconify section-bar__icon" data-icon="bx:film"></i> Phim Xem Nhiều</span>
                <i class="skew-left"></i>
                <i class="skew-left"></i>
              </h2>
            </div>
            <section class="tab-container">
              <div class="popular-posts">
                <ul class="tab-header">
                  <li id="tab-label-1" class="active">Phim Lẻ</li>
                  <li id="tab-label-2">Phim Bộ</li>
                  <li id="tab-label-3">Hoạt Hình</li>
                </ul>
                <div class="tab-contents">
                  <div id="tab-content-1" class="tab-content">
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                  </div>
                  <div id="tab-content-2" class="tab-content hidden">
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1613042380/phimbox_images/Poster-ga-he.jpg" alt="Gã Hề">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Gã Hề">
                          <h3>Gã Hề</h3>
                        </a>
                        <p class="tab-content__original-name">Joker</p>
                        <p><span class="tab-content__status">HD Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">8.6</span></span>
                          <span class="tab-content__year">2019</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                  </div>
                  <div id="tab-content-3" class="tab-content hidden">
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_100,h_143/v1597306188/phimbox_images/Poster-rap-pho-dap-pha.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                    <div class="tab-content__item">
                      <a href="#" class="tab-content__img" title="Nhím Sonic">
                        <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                      </a>
                      <div class="tab-content__info">
                        <a href="#" class="tab-content__vn-name" title="Nhím Sonic">
                          <h3>Nhím Sonic</h3>
                        </a>
                        <p class="tab-content__original-name">Sonic The Hedgehog</p>
                        <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                        <p>
                          <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                          <span class="tab-content__year">2020</span>
                        </p>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </section>
          </div>
          <div class="sidebar-widget xpo-green">
            <div class="sidebar-widget__section-bar section-bar">
              <h2 class="section-bar__title">
                <span><i class="iconify section-bar__icon" data-icon="el:tags"></i> Tag Cloud</span>
                <i class="skew-left"></i>
                <i class="skew-left"></i>
              </h2>

            </div>
            <section class="tab-container">
              <div class="tabcloud-list">
                <a href="" title="Phim Marvel" class="tabcloud-item">Marvel</a>
                <a href="" title="Phim DC" class="tabcloud-item">DC</a>
                <a href="" title="Phim Doraemon" class="tabcloud-item">Doraemon</a>
                <a href="" title="Phim Conan" class="tabcloud-item">Conan</a>
                <a href="" title="Phim Pokemon" class="tabcloud-item">Pokemon</a>
                <a href="" title="Phim Naruto" class="tabcloud-item">Naruto</a>
                <a href="" title="Phim One Piece" class="tabcloud-item">One Piece</a>
                <a href="" title="Phim Dragon Ball Z" class="tabcloud-item">Dragon Ball Z</a>
              </div>
            </section>
          </div>
        </aside>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- Auth Modal -->
    <%- include('./partials/authModal') %>
    <!-- Mini Info Films -->
    <%- include('./partials/miniFilmInfo') %>
    <!-- Scroll Top -->
    <div id="scroll-top">
      <i class="iconify scroll-top__icon" data-icon="bi:arrow-up-short"></i>
    </div>
  </div>


  <!-- Javascripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.2.1/iconify.min.js" integrity="sha512-sU5Gzc108d8ERAXEUoNh3DZQ3GZCQyygVkeuhIxFR+D9Go8kLw3Ce3HVD/AI5cnhGzW7Km9V4oOOiepKcD0vlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/jquery.star-rating-svg.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>